@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.boardList-wrapper{
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .boardList-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    animation: smoothAppear 1s forwards;
    animation-delay: 1s;
  }
  .boardList-footer{
    margin: 1.5rem;
  }
}