.dropdown{

  background-color: #ffffff;
  width: 110px;
  z-index: 10;
  position: fixed;
  top: 80px;
  left: auto;
  right: 50px;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 30px;
  .dropdown-text{
    margin: 10px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    width: content-box;
    &:hover {
      //width: fit-content;
      width : content-box;
      //background-color: gray;
      border-radius: 30px;
      color: navy;

    }

  }
  .dropdown-item{
    &:hover {
      //background-color: gray;
    }
  }
}