a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  font-weight: bold;
  color: black;
  &:hover { color: navy; }
}

.header-wrapper {
  //z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: row;
  .header-title{
    width: 180px;
    a {
      display: flex;
      align-items: center;
      img{
        width: 100%;
      }
    }
  }
  .header-menu{
    margin-left: auto;
    align-items: center;
    width: available;
    float: right;
    display: flex;
    a {
      //width:100px;
      //width: auto;
      font-size: 1.5rem;
      font-family: 'BMJUA';
      flex-shrink: 0;
      margin: 0 1rem;
      display: flex;
      align-items: center;
      img {
        margin-right: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }


    }

  }
}



.a{
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'BMJUA';
  display: flex;
  color: black;
  align-items: center;
  &:hover {
    color: navy;

  }
  img {
    margin-right: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  svg{
    font-size: 3rem;
  }
}